/* body */
body {
    background-color: #151515;
    padding: 0px;
    margin: 0px;
    font-family: HelveticaNeue-Light;
}

/* Static Elements */
/* logo */
#logo {
    width: 211px;
    height: 84px;
    position: absolute;
    top: 0px;
    left: 114px;
    z-index: 1000;
    background:rgba(255,255,255,0.85);
    display:flex;
    align-items:flex-end;
    padding:10px 30px;
    border-bottom:#0055AA 10px solid;
}
#logo img{
    width:100%;
}

/* Top Scrolling img */
#topScroll {
    position: absolute;
    width: 100%;
    height: 500px;

    overflow: hidden;
    z-index: -1;
}
#topScroll #bigPlayButton{
    position:absolute;
    top:250px;
    left:50%;
    margin: -75px 0 0 -75px;
    width:150px;
}
#topScroll .scrollingimg {
    width: 8000px;
    height: 500px;
    background: url("../assets/thumb.jpg");
    background-repeat: repeat-x;
    background-size: 4000px 500px;
    animation: slide 90s linear infinite;
}

@keyframes slide {
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(-4000px, 0, 0);
    }
  }

#categories {
    position: absolute;
    width: 100%;
    height: 63px;
    top: 500px;
    margin-top: -63px;
    left: 0;
    background: rgba(0, 0, 0, 0.62);
    transition: margin 0.5s ease;
    /* align content */
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#categories .category {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 0.25s;
    border-bottom-color: #0055AA;
    z-index: 1000;
}
#categories .category.selected{
    border-bottom: 5px solid #0055AA;
}

#categories.stuck {
    position:fixed;
    top:0;
    margin-top:0;
    z-index: 7000;
    background: rgba(0, 0, 0, 0.82);
}

#stuckLogo {
    position:fixed;
    height:25px;
    top:19px;
    left:30px;
    opacity:1;
    transition: opacity 0.5s ease 0.25s;
    z-index: 8001;
}
#stuckLogo.hidden{
    opacity:0;
    transition:none;
}


.contentBox {
    position: absolute;
    top: 550px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 10% 100px;
    flex-direction: row;
    justify-content: space-around;
    transition-delay: 0s,1s;
    transition-property: opacity,height;
    transition-duration:1s,0s;
    overflow: hidden;
}


.contentItem {
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 2px;
    position: relative;
    min-width: 200px;
    
}

.contentBox .header {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    font-family: HelveticaNeue-Medium;
    color: #fff;
    font-size: 33px;
    padding: 20px 0px;
}
.contentBox.hidden{
    opacity: 0;
    height:0px;
    transition-delay: 0s,0s;
    transition-property: height,opacity;
    transition-duration:1s,1s;
}

.playbutton {
    opacity: 0;
    transition: opacity 1s ease 0.2s;
    display: flex;
}

.contentItem.selected .playbutton {
    opacity: 1;

}

.contentItem img:not(.playbutton) {
    overflow: hidden;
    z-index: -1;
    width: 100%;
    display: block;
}

.contentItem .darken {
    background-color: rgba(0,0,0,0.84);
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.contentItem:hover .darken {
    opacity: 0.5;
}

.contentItem.selected .darken {
    opacity: 1;
}

.playheadcontrol{
    position: absolute;
    top:350px;
    right:30px;
    background:rgba(0,0,0,0.75);
    display:flex;
    height: 50px;
    padding:10px;
    width:80px;
}
.playheadcontrol img{
    height:60%;
    padding:10%;
}